{% extends "base.html" %}

{% block content %}

<h1 style="margin-bottom:20px;">Pods</h1>

<div class="table-card">

<form method="get" style="margin-bottom:20px;">
    <input type="hidden" name="ns" value="{{ selected_ns }}">
    <input type="text"
           name="search"
           placeholder="Search Pod"
           value="{{ search }}">
</form>

<table>

<tr>
    <th>Name</th>
    <th>Status</th>
    <th>Logs</th>
</tr>

{% for p in pods %}
<tr>
    <td>{{ p.metadata.name }}</td>

    <td>
        {% if p.status.phase == "Running" %}
            <span class="status-running">
                {{ p.status.phase }}
            </span>
        {% else %}
            {{ p.status.phase }}
        {% endif %}
    </td>

    <td>
        <a class="btn"
           href="/logs/{{ selected_ns }}/{{ p.metadata.name }}">
            Logs
        </a>
    </td>
</tr>
{% endfor %}

</table>

</div>

{% endblock %}
